header h1 { 
  text-align: center;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
}

main p {
   text-align: center;
   text-decoration: underline;
   font-size:larger;
   background-color: #bef8ff;
}

body {
  border-color: #fbf8e7;
  border-width: 20px;
  border-left: 200px 		#2c2c2c solid;
  border-right: 200px 	#2c2c2c solid;
  padding:30px;
}

.cheakbox {
  width:100%;
  text-align: center;
  padding-top: 20px;
}

.property {
  padding-top: 30px;
}

#Horse-Needs {
  margin-top: 30px;
}

#Horse {
  margin-top: 30px;
}

#You {
  margin-top: 30px;
}

#daily {
  margin-top: 30px;
  margin-bottom: 20px;
}

ul li {
  list-style: disc;
  margin: 20px;
}

ul {
  text-align: center;
}

#name {
  margin-top: 30px;
  margin-bottom: 20px;
}

#Money-Making {
  margin-top: 30px;
  margin-bottom: 20px;
}

div li {
  margin-top: 20px;
  text-align: center;
  list-style: none; 
}


#links {
  margin-top: 30px;
  margin-bottom: 20px;
}

#tips {
  margin-top: 30px;
  margin-bottom: 20px;
}

img {
  width:23%;
  margin:20px;
  text-align: center;
  border-color: black;
  border-width: 7px;
  border-style: ridge;
  padding: 10px;
}

#photo1 {
  position: absolute;
  left: 0;
    top: 220px;
    width: 120px;
}

#photo2 {
  position: absolute;
  right: 0;
   top: 220px;
    width: 120px;
}

#photo3 {
  position: absolute;
  right: 0;
    top: 0;
    width: 120px;
}

#photo4 {
  position: absolute;
  left: 0;
    top: 455px;
    width: 120px;
}

#photo5 {
  position: absolute;
  right: 0;
    top: 455px;
    width: 120px;
}

#photo6 {
  position: absolute;
  left: 0;
    top: 690px;
    width: 120px;
}

#photo7 {
  position: absolute;
  right: 0;
    top: 690px;
    width: 120px;
}

#photo8 {
  position: absolute;
  left: 0;
    top: 0;
    width: 120px;
}

#photo9 {
  position: absolute;
  right: 0;
    top: 1180px;
    width: 120px;
}


#photo10 {
  position: absolute;
  left: 0;
    top: 1150px;
    width: 120px;
}

#photo11 {
  position: absolute;
  right: 0;
    top: 925px;
    width: 120px;
}

#photo12 {
  position: absolute;
  left: 0;
    top: 925px;
    width: 120px;
}

#photo13 {
  position: absolute;
  right: 0;
    top: 1420px;
    width: 120px;
}

#photo14 {
  position: absolute;
  left: 0;
    top: 1300px;
    width: 120px;
}

/* #photo15 {
  position: absolute;
  right: 0;
    top: 925px;
    width: 120px;
} */

