header h1 {
  text-align: center;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
}

main p {
  text-align: center;
  text-decoration: underline;
  font-size: larger;
  /* make a gradient background color that goes from white to #ffecb3 and back to white at the edges */
  background-image: linear-gradient(to right, white, #ffecb3, white);
}
/* depending on body season class, style main p to have a different color background gradient */

body.spring main p {
  background-image: linear-gradient(to right, white, #fac2ff, white);
}

body.summer main p {
  background-image: linear-gradient(to right, white, #ffffb3, white);
}

body.fall main p {
  background-image: linear-gradient(to right, white, #ffecb3, white);
}

body.winter main p {
  background-image: linear-gradient(to right, white, #b3e7ff, white);
}

body {
  padding: 0;
  margin: 0;
}

.checkbox {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.property {
  padding-top: 30px;
}

#Horse-Needs {
  margin-top: 30px;
}

#Horse {
  margin-top: 30px;
}

#You {
  margin-top: 30px;
}

#daily {
  margin-top: 30px;
  margin-bottom: 20px;
}

ul li {
  list-style: disc;
  margin: 20px;
}

ul {
  text-align: center;
}

#name {
  margin-top: 30px;
  margin-bottom: 20px;
}

#Money-Making {
  margin-top: 30px;
  margin-bottom: 20px;
}

div li {
  margin-top: 20px;
  text-align: center;
  list-style: none;
}

#links {
  margin-top: 30px;
  margin-bottom: 20px;
}

#tips {
  margin-top: 30px;
  margin-bottom: 20px;
}

img {
  width: 23%;
  margin: 20px;
  text-align: center;
  border-color: black;
  border-width: 7px;
  border-style: ridge;
  padding: 10px;
}

#photoLeft {
  position: absolute;
  left: 0;
  top: 220px;
  width: 120px;
}

#photoLeft img,
#photoRight img {
  width: 100%;
}

#photoRight {
  position: absolute;
  right: 0;
  top: 220px;
  width: 120px;
}

.hide {
  display: none;
}

.display {
  display: block;
}

.HorseShoppingDiv {
  margin-bottom: 30px;
}

/** new hotness **/

nav {
  text-align: center;
}

nav button {
  margin: 10px;
  padding: 10px;
  background-color: #ffecb3;
  border-color: #2c2c2c;
  border-width: 5px;
  border-style: ridge;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

/* depending on the season make the nav button background color change */

body.spring nav button {
  background-color: #fac2ff;
}

body.summer nav button {
  background-color: #ffffb3;
}

body.fall nav button {
  background-color: #ffecb3;
}

body.winter nav button {
  background-color: #b3e7ff;
}

nav button a {
  text-decoration: none;
  color: black;
}

nav button[disabled] {
  background-color: #2c2c2c;
  color: #ffecb3;
}

/* depending on the season make the disabled nav button background color change */

body.spring nav button[disabled] {
  background-color: #2c2c2c;
  color: #fac2ff;
}

body.summer nav button[disabled] {
  background-color: #2c2c2c;
  color: #ffffb3;
}

body.fall nav button[disabled] {
  background-color: #2c2c2c;
  color: #ffecb3;
}

body.winter nav button[disabled] {
  background-color: #2c2c2c;
  color: #b3e7ff;
}

#galleryLeft {
  left: 0;
  top: 0;
  width: 15%;
}
#galleryRight {
  right: 0;
  top: 0;
  width: 15%;
}

.gallery {
  position:fixed;
  background-color: #2c2c2c;
  height: 100%;
  text-align: center;
}
.gallery img {
  width: 50%;
  margin: 5%;
  border-color: black;
  border-width: 5px;
  border-style: ridge;
  display: inline-block;
}
#content {
  top: 0;
  margin: 20px 15%;
}

main {
  margin: 0 10px 0 10px;
}

main section.text{
margin: 10px 0 5px 0;
text-decoration: none;
background-image: none;
text-align: center;
line-height: 25px;
}